.fancy-input {
    margin: 1em 0 1em 0;
    position: relative;
  }
  .fancy-input label {
    position: absolute;
    top: .5em;
    left: .5em;
    color: #666;
  }
  .fancy-input input {
    padding: .5em;
  }

  .event-box {
    background-color: black;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .event-name {
    text-align: center;
  }
  
  .event-equipment {
    text-align: center;
    margin-top: 10px;
    display: flex;
  }  