body {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    color: white;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}